/* FILEPATH: /home/wisaac/personal_projects/personal_site/personal-site/src/static/css/layout/sidebar.css */

/* Style the sidebar container */
.sidebar {
  background-color: #822c2c;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
}

.image {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.blurb {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.footer {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}


